:root {
    --ggs: 1;
}

html, body {
    padding:     0;
    margin:      0;
    height:      100vh;
    width:       100vw;
    overflow:    hidden;
    user-select: none;
}

body {
    background-color: whitesmoke;
    color:            #444;
}

footer {
    background-color: #444;
    color:            whitesmoke;
    height:           32px;
    padding:          0.25vh 0.25vw;
    display:          flex;
    align-items:      center;
}