{{ $cid := param 1 }}
{{ if $.bindings.app.stack }}
<ul class="nav nav-tabs">
    {{ range $container := $.bindings.app.stack.containers }}
    <li class="nav-item">
        <a
            class="nav-link{{ if eqx $cid $container.name }} active{{ end }}"
            aria-current="page"
            href="/containers/{{ $container.name }}">{{ $container.name }}</a>
    </li>
    {{ end }}
</ul>
{{ end }}

<!-- <pre style="height: 100%;" id="logview"></pre> -->
<iframe src="//localhost:9090"></iframe>

<script type="application/javascript">
    hydra.http.request({
        method: 'get',
        url:    '/hydra/v1/app',
        target: '#logview',
        parser: function(xhr, parsed) {
            return hydra.dom.create('table.table', [{
                tag:     'thead',
                content: function(){
                    var rows = [];

                    for (var k in parsed.config) {
                        var value = parsed.config[k];

                        if (typeof value == 'object') {
                            value = JSON.stringify(value);
                        }

                        rows.push({
                            tag: 'tr',
                            content: [{
                                tag:     'th',
                                content: k,
                            }, {
                                tag:     'td',
                                content: (value || '-'),
                            }],
                        });
                    }

                    return rows;
                },
            }]);
        },
    });
</script>