---
page:
    mode: light
bindings:
-   name:     app
    resource: /hydra/v1/app
---
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/lib/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">

    <script type="application/javascript" src="/hydra/v1/assets/hydra.js"></script>
</head>

<body class="d-flex flex-column align-items-stretch">
    <nav class="navbar navbar-{{ $.page.mode }} bg-primary">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="offcanvas" href="#sidebar" role="button"
                        aria-controls="sidebar">
                        <i class="fa fa-bars"></i>&nbsp;
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="container-fluid p-0 flex-grow-1">{{ template "content" . }}</section>

    <footer>
        TEST
    </footer>

    <div id="sidebar" class="offcanvas offcanvas-start" tabindex="-1" aria-labelledby="sidebar">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">DOCKMASTER</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <h4>Services</h4>
            <ul class="list-group list-group-flush">
                {{ if $.bindings.app.stack }}
                {{ range $container := $.bindings.app.stack.containers }}
                <li class="list-group-item">
                    <a href="#">{{ $container.name }}</a>
                </li>
                {{ else }}
                <li class="list-group-item">
                    <i>No stacks defined</i>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>

    <script type="application/javascript" src="/assets/js/bootstrap.min.js"></script>
</body>

</html>